<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>axios form</title>
</head>
<body>
<form>
    이름 : <input type="text" id="name" name="name">
    이메일 : <input type="text" id="email" name="email">
    증명 사진 : <input type="file" id="photo" name="photo" accept="image/*"/>
    <button type="button" onclick="postData()">제출</button>
</form>
<script>
    async function postData(){
        const name = document.getElementById("name").value
        const email = document.getElementById("email").value
        const fileInput = document.getElementById("photo")
        const file = fileInput.files[0];
        const formData = new FormData();
        formData.append("photo", file)
        formData.append("name", name)
        formData.append("email", email)
        const result = await axios.post('http://localhost:8080/hello/axios-form-file-view', formData);
        console.log(result.data)
    }
</script>
</body>
</html>